<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../resource/css/wordscount.css">
    <title></title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  </head>
  <body>
    <div class="per-nav">
      <div class="user-name"><div class="img"><img src="" alt=""></div><span>五更琉璃</span></div>
    </div>

    <div class="per-container">
      <div class="inputArea">
        <p>输入文本</p>
          <textarea name="" cols="30" rows="10" class="inputText"></textarea>
          <div class="text-condition">
             <div class="select">
               <span class="title">请选择一种语言</span>
               <div class="select-context">
                 <p class="seletc-english" value="english">英语</p>
                 <p class="select-chinese" value="chinese">中文</p>
               </div>
             </div>
          </div>
          <div class="text-operation">
            <a href="javascript:void(0);" class="count-btn">统计</a>
          </div>

      </div>
      <div class="ouputArea">
          <p>输出结果</p>
        <textarea name="" id="result" cols="30" rows="10" class="outputText"></textarea>
      </div>
    </div>

  </body>
  <script src="../resource/js/common.js"></script>
  <script src="../resource/js/wordscount.js"></script>
</html>
