<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录End Emptiness</title>

    <link rel="icon" href="./resource/logo/logoIcon.png">
    <link rel="stylesheet" href="./resource/css/loginPage.css">
    <script type="text/javascript" src="./resource/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./resource/bootstrap/js/bootstrap.js"> </script>
    <script type="text/javascript" src="./resource/js/common.js"> </script>
    <img class="bk-i" src="./resource/resources/images/Agirl.jpg" alt="">

    <link rel="icon" href="/resource/logo/logoIcon.png">
    <link rel="stylesheet" href="/resource/css/loginPage.css">

    <script type="text/javascript" src="/resource/common/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/resource/dist/js/bootstrap.js"> </script>

</head>
<body>
<img class="bk-i" src="/resource/images/Agirl.jpg" alt="">

<div class="body">

        <div class="login">
            <div class="logo">
                <img src="./resource/resources/logo/logo.png" alt="">
            </div>
            <div class="username input">
                <input type="text" name="username" placeholder="你的用户名"/>
                <div class="downLine"></div>
            </div>
            <div class="password input">
                <input type="text" name="password" placeholder="你的密码"/>
                <div class="downLine"></div>
            </div>
            <div class="btn">
                <a class="center" id="login_btn" href="javascript:void(0);">进入</a>
            </div>
            <div class="other">
                <div class="register center">
                    <a href="registerPage.html">没有账号?</a>
                </div>
                <div class="forget center">
                    <a href="javascript:void(0)">忘记密码？</a>
                </div>
            </div>
        </div>


    <div class="web-Ifo">
        <div></div>
        <div class="wenA center">Copyright © 2013-2018 EndEmp</div>
        <div></div>
    </div>
</div>
<script type="text/javascript" src="./resource/js/login.js"> </script>
</body>
</html>
